altair==6.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
aws-sdk-signers==0.1.0
aws_sdk_bedrock_runtime==0.1.1
awscrt==0.28.4
blinker==1.9.0
boto3==1.43.19
botocore==1.43.19
cachetools==7.1.4
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
fastapi==0.136.3
gitdb==4.0.12
GitPython==3.1.50
h11==0.16.0
httptools==0.8.0
idna==3.17
ijson==3.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
narwhals==2.22.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pillow==12.2.0
protobuf==7.35.0
pyarrow==24.0.0
PyAudio==0.2.14
pydantic==2.13.4
pydantic_core==2.46.4
pydeck==0.9.2
python-dateutil==2.9.0.post0
python-multipart==0.0.30
pytz==2026.2
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
Rx==3.2.0
s3transfer==0.18.0
six==1.17.0
smithy-aws-core==0.1.1
smithy-aws-event-stream==0.1.0
smithy-core==0.1.1
smithy-http==0.2.1
smithy-json==0.1.0
smmap==5.0.3
starlette==1.2.1
streamlit==1.58.0
streamlit-autorefresh==1.0.1
tenacity==9.1.4
toml==0.10.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.48.0
websockets==16.0
